@import url(bootstrap.min.css);
@import url(all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root {
    --brand-color: #f74c70;
    --shadow-font: 'Shadows Into Light', cursive;
    --background: #E8E7E4;
}
body{
    padding: 0;
    margin: 0;
}
ul{
    margin-bottom: 0px !important;
  }
  a{
    text-decoration: none;
    display: block;
    color: #666;
}
  /* Top nav */
#top-nav {
    background-color: black;
    z-index: 1;
}
.navbar#top-nav{
    padding-top: 2px !important;
    padding-bottom: 0 !important;
}
#top-nav .navbar-brand{
    font-size: 13px;

}
#top-nav .btn{
    color: aliceblue;
}
.btn:focus {
   
    box-shadow: none !important;
}
/* Main Navbar */
.navigation {
    background-color: white;
}

.navigation.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}

.navigation.navbar {
    padding: 0;
}

.navigation {
    position: sticky;
    top: 0;
}

.navigation.navbar-light .navbar-nav .nav-item.active .nav-link,
.navigation.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: var(--brand-color);
    transition: all .3s;
}

.navigation .nav-item .btn {
    padding: 0;
    line-height: 1rem;
}


.btn .badge {
    top: -10px;
}

.rounded-pill {
    background-color: var(--brand-color);
}
.navicon1{
  padding-left: 0 !important;
}
.navbar-toggler:focus {
  
  box-shadow:none;
}
/* Bredcamp */
#breadcamp{
    background-color: var(--background);
}
#picposition{
    position: relative;
}
#colorpic img{
    width: 10%;
    height: 60%;
}
.saleoff{
    top: 70px;
    left: 35px;
    position: absolute;
    color: white;
    font-size: 35px;
}
.percen{
    font-size: 80px;
}
.lobe{
    font-family: lobster;
    color: #E8E7E4;
    padding-left: 10px;
  }
  .robo{
    font-family: Roboto;
    font-weight: bolder;
    font-size: 100px;
    color: #E8E7E4;
    padding-left: 15px;
  }
  .rale{
    font-family: Raleway;
    color: #E8E7E4;
  }
/* Top Rating */
#topratting .img-fluid{
    height: 100% !important;
}
.star-widget{
    width: 80%;
  }
  .star-widget input{
    display: none;
  
  }
  .star-widget label{
    font-size: 13px;
    color: #444;
    transition: all 0.2s ease-in;
    float: right;
    padding: 1px;
  }
  input:not(:checked) ~ label:hover,
 input:not(:checked) ~ label:hover label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fd7;
  text-shadow: 0 0 20px #952;
}
   /* Create two equal columns that floats next to each other */
   .column {
    float: left;
    width: 33%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
#gridpic img{
  width: 100%;
  height: 250px;
}
  /* Style the buttons  */
.btnContainer .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
#btnContainer .btn:hover {
    background-color: #ddd;
  } 
/* Select Button */
select{
    font-size: 1.5em;
    padding: 5px 4em 5px 15px;
    color: black;
    border: 2px solid black;
}
.custom-select{
    position: relative;
}
.select1{
  font-size: 1.5em;
  padding: 5px 1em 5px 15px;
  color: black;
  border: 2px solid black;
}
.custom-arrow{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-left: 2px solid black;
    height: 91%;
    width: 58px;
    
    pointer-events: none;
}
.custom-arrow1{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-left: 2px solid black;
  height: 91%;
  width: 23px;
  
  pointer-events: none;
}
.imageproduct ,.card-img-top{
  max-width: 100%;
  height: auto;
}
#colorpic img{
  width: 10%;
  height: 60%;
}
.listviews1 .star-widget{
  width: 65%;
  padding-top:0px !important;
}
.listviews1 .star-widget label{
  font-size: 17px;
  color: #444;
  transition: all 0.2s ease-in;
  float: right;
  padding: 3px;
}
.listviews1 .card-body span{
  padding-left: 25px;
  font-size: 25px;

}
.listviews1 .card-body h5{
  padding-left: 23px;
  font-size: 24px;
}
.listviews1{
  background-color: #f5f1d5;
  height: 160px;
}







@media screen  and (max-width:1200px) {
    .container{
       width: 960px;
    }
    .navigation.navbar-light .navbar-nav .nav-link {
      font-size: 12px;
    }
}




@media screen and (max-width:991px){
    .container{
       width: 720px;
    }
    .navicon1 li i{
      padding-left: 12px;
      padding-right: 12px;
    }
    .translate-middle {
      transform: translate(-106%,-39%)!important;
  }
  .navbar-toggler {
    margin-left: 380px !important;
  }
}



@media screen and (max-width:767px){
    .container{
      width: 540px;
   }
   .navbar-toggler {
    margin-left: 235px !important;
    margin-right: 5px !important;
  }
}



@media screen and (max-width:575px){
    .container{
       width: 100%;
    }
    .navbar-toggler {
      margin-left: 25px !important;
    }
    #top-nav .navbar-brand {
      font-size: 8px;
      padding-left: 0px !important;
  }
  #top-nav{
    flex-wrap: nowrap;
  }
}