@import url(all.min.css);
@import url(bootstrap.min.css);
/* Default  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    padding: 0;
    margin: 0;
}
:root {
    --brand-color: #f74c70;
    --shadow-font: 'Shadows Into Light', cursive;
    --background: #E8E7E4;
}
/* Top nav */
#top-nav {
    background-color: black;
    z-index: 1;
}
.navbar#top-nav{
    padding-top: 2px !important;
    padding-bottom: 0 !important;
}
#top-nav .navbar-brand{
    font-size: 13px;

}
#top-nav .btn{
    color: aliceblue;
}
.btn:focus {
   
    box-shadow: none !important;
}
/* Main Navbar */
.navigation {
    background-color: white;
}

.navigation.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}

.navigation.navbar {
    padding: 0;
}

.navigation {
    position: sticky;
    top: 0;
}

.navigation.navbar-light .navbar-nav .nav-item.active .nav-link,
.navigation.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: var(--brand-color);
    transition: all .3s;
}

.navigation .nav-item .btn {
    padding: 0;
    line-height: 1rem;
}


.btn .badge {
    top: -10px;
}

.rounded-pill {
    background-color: var(--brand-color);
}